body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#horizon {
    display: grid;
    grid-template-columns: 1fr 5px 2fr;
    grid-template-rows: auto 1fr;

    width: 100%;
    height: 100%;

    .container {
        overflow: hidden;
    }

    #gutter {
        grid-area: ~"1 / 2 / 3 / 2";
        background-color: darkgray;
        cursor: col-resize;
    }

    #options {
        grid-area: ~"1 / 1 / 1 / 1";
        padding: 5px;

        * {
            font-family: sans-serif;
        }
    }

    #editor {
        grid-area: ~"2 / 1 / 3 / 1";
    }

    #diagram {
        grid-area: ~"1 / 3 / 3 / 3";
    }
}

.node-label {
    font-size: 12px;
    font-family: sans-serif;

    &.token {
        .main {
            font-family: monospace;
        }
    }

    .main {
        font-weight: bold;
        text-align: center;
    }

    .sub {
        font-size: 75%;
        text-align: center;
    }
}